/*
* Credits:
* By Website Author websiteauthor.co.uk
* Prefixed by https://autoprefixer.github.io
* Autoprefixer: v10.4.7
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* font rules */
@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa/Comfortaa-VariableFont_wght.ttf);
  }
  
  body {
    font-family: Comfortaa;
    line-height: 1.7em;
  }
.display-3 {
    color: #866502;
}
.display-3, .display-4 {
    font-weight: 100;
}
.display-5 {
    font-size: 1.7em;
}
/* nav styles */
#nav {
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    overflow: hidden;
    padding: 25px 0;
}
.large-nav {
    background-color: none;
}
.small-nav {
    background-color: #fff;
}
.large-nav img {
    max-height: 80px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.small-nav img {
    max-height: 60px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.large-nav .nav-link {
    color: #cee0dc;
}


nav .nav-item {
    margin-top: auto;
    margin-bottom: auto;
}

nav .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
nav .navbar-nav .rounded-pill {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    outline: none;
    border-style: solid;
    border: 0;
    background-color: #866502;
}

@media screen and (max-width: 768px) {
    .large-nav {
        background-color: #fff;
    }
    .large-nav .nav-link {
        color: black;
    }
    body {
        margin-top: 100px;
    }
}
/*header styles */
header {
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -200px;
    position: relative;
}

.home-page{
    background-image: url(images/extensions4.jpeg);
    height: 700px;
}
.lofts-page {
    background-image: url(images/loft.jpeg);
    height: 500px;
}
.extensions-page {
    background-image: url(images/extensions1.jpeg);
    height: 500px;
}
.basements-page {
    background-image: url(images/basements2.jpeg);
    height: 500px;
}
.landscaping-page {
    background-image: url(images/ls1.jpeg);
    height: 500px;
}
.bathrooms-page {
    background-image: url(images/bathroom1.jpeg);
    height: 500px;
}
.kitchens-page {
    background-image: url(images/kitchen1.jpeg);
    height: 500px;
}
.painting-page {
    background-image: url(images/painting1.jpeg);
    height: 500px;   
}
.carpentry-page {
    background-image: url(images/carpentry1.jpeg);
    height: 500px;  
}

.large-overlay .overlay {
    position: absolute;
    min-height: 700px;
    min-width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.537);
}
.small-overlay .overlay {
    position: absolute;
    height: 500px;
    min-width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.537);
}

header .intro {
    color: #cee0dc;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    position: relative;
    -webkit-transform: translate(0, 180px);
        -ms-transform: translate(0, 180px);
            transform: translate(0, 180px);
}
.intro p {
    font-size: 1.8em;
}

.gold {
    color: #866502;
    font-weight: 900;
}

@media screen and (max-width: 940px) {
    header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        
    }
}
@media screen and (max-width: 768px) {
    .home-page {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
    }
    .home-page .intro p {
        font-size: 18px;
    }
}
@media screen and (max-width: 992px) {
    .home-page {
        background-position: top;
    }
}
/* main styles */
.welcome {
    padding-left: auto;
    padding-right: auto;
    margin: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    background-color: #e6e6e6;
}
.welcome .display-3 {
    text-align: center;
    margin-bottom: 1em;
}

.welcome .col {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.welcome p {
    line-height: 1.55em;
    font-size: 1.1em;
}
@media screen and (max-width: 576px) {
    .welcome .col {
        width: 100%;
    }
}
.projects {
    padding-right: 50px;
    padding-left: 50px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.projects .col {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
}
.projects p {
    text-align: justify;
}
.modal {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
/*ALLOW IMAGE TO GO FULLSCREEN ONCLICK */

@media screen and (max-width: 576px) {
    .projects {
        padding: 0;
    }
    .projects .col {
        width: 100%
    }
}
.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
}
.unique {
    background-color: #86650261;
    background-clip: border-box;
}
.unique .row {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.unique .display-4 {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 576px) {
    .unique .row, .unique .display-4 {
        width: 100%;
    }
}
.services {
    padding-left: 100px;
    padding-right: 100px;
}
.services .col {
    margin-bottom: 20px;
    text-align: center;
}
.services .col a {
    text-decoration: none;
}
.services .col h3 {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.services .img-fluid:hover, .services .img-fluid:active {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    border: 2px solid black;
}
.services .img-fluid {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    height: 200px;
}
@media screen and (max-width: 576px) {
    .services {
        padding: 0;
    }
    .services .display-4 {
        text-align: center;
    }
}
.testimonials {
    margin-right: auto;
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 700px;
}
.testimonials .display-5 {
    color: #866502;
    font-weight: 700;
}
.testimonials blockquote {
    min-height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em;
    font-size: 2em;
}
@media screen and (max-width: 992px) {
    .testimonials blockquote {
        font-size: 25px;
        height: 520px;
    }
}
@media screen and (max-width: 768px) {
    .testimonials blockquote {
        font-size: 20px;
        height: 300px;
    }
}
@media screen and (max-width: 576px) {
    .testimonials blockquote {
        font-size: 15px;
        height: 200px;
    }
    .review-link {
        position: s;
    }
}
.review-link a {
    text-decoration: none;
    font-weight: bold;
    font-size: 130%;
}
.review-link a:link, .review-link a:visited {
    color: black;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.review-link a:hover, .review-link a:active {
    color: rgba(0, 0, 0, 0.505);
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.review-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;

}

.cta-home {
    background-color: #5b4400;
    background-clip: border-box;
    color: #cee0dc;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.cta-home .row {
    margin-top: 70px;
}
.cta-home .display-4 {
    max-width: 8em;
    text-align: left;
}
.cta-home a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 130%;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}
.cta-home a:hover, .cta-home a:active {
    letter-spacing: .1em;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.cta-home .pics {
    max-height: 340px;
}


.slide-photos {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}
.slide-photos img {
    height: 100%;
}

.gallery-caption {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.gallery {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0;
}
.gallery img {
    width: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-details {
    padding-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.gold-small {
    color: #866502;
}
@media screen and (min-width: 577px) {
    .contact-details {
        width: 80%;
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .contact-details {
        width: 100%;
        font-size: 17px;
        text-align: left;
    }
}
.privacy {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.about p {
    font-size: 18px;
    margin-top: 20px;
}
/*footer styles */
footer {
    background-color: #11143d;
    color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
footer .container-fluid {
    margin-left: auto;
    margin-right: auto;
}
footer .logo {
    margin-top: -30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 768px) {
    footer .logo {
        width: 85%;
    }
}
@media screen and (max-width: 576px) {
    footer .logo {
        width: 100%;
    }
}
footer .nav {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
footer .nav a {
    color: #cee0dc;
}
footer .title {
    color: #866502;
    font-weight: bold;
    text-decoration: underline;
}

footer .bottom-nav {
    padding-left: auto;
    padding-right: auto;
}

.social img {
    width: 30px;
    margin: 5px;

}
.social {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}